html,
body {
    text-align: center;
    background: linear-gradient(#aff7ad, #f0f7ad)
}

h1 {
  font-size: 35px;
  font-family: cursive;
  text-transform: uppercase;
  border-radius: 10px;
  border-style: solid;
  font-style: italic;
  background-color: #f8f9e5;
  margin-right: 100px;
  margin-left: 100px;
}
