
body {
    text-align: center;
    background: #ffffff url('../images/leaves.png'); /*image from subtlepatterns.com*/
}


h1 {
  font-size: 35px;
  font-family: 'Barriecito', cursive;
  text-transform: uppercase;
  border-radius: 20px;
  border-style: solid;
  background: linear-gradient(#aff7ad, #f0f7ad);
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
}
